@font-face {
    font-family: 'SFR';
    src: url(../fonts/SFPRODISPLAYREGULAR.OTF);
}
@font-face {
    font-family: 'SFM';
    src: url(../fonts/SFPRODISPLAYMEDIUM.OTF);
}
@font-face {
    font-family: 'SFB';
    src: url(../fonts/SFPRODISPLAYBOLD.OTF);
}
@font-face {
    font-family: 'MR';
    src: url(../fonts/Mont-Regular.otf);
}
@font-face {
    font-family: 'MSB';
    src: url(../fonts/Mont-SemiBold.otf);
}
@font-face {
    font-family: 'MB';
    src: url(../fonts/Mont-Bold.otf);
}
